<%%
#template_name: <%=template_name.humanize.titlecase%>
<%-attributes.each do |attribute|-%>
<%="#html: #{attribute.humanize.titlecase}\n"-%>
<%-end-%>
%>

<!DOCTYPE html>
<html>
<head>
  <title><%%=content_for?(:title) ? yield(:title) : Spud::Core.site_name%></title>
  <%%= stylesheet_link_tag    "application", :media => "all" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
  <%%= yield :head%>
</head>
<body>

<%attributes.each do |attribute|%>
  <%if(attribute.downcase == 'body')%>
    <%%=yield%>
  <%else%>
    <%%=yield :<%=attribute.downcase.underscore%>%>
  <%end%>
<%end%>

</body>
</html>
