
  

  <%=form_for @menu_item,:url => spud_admin_menu_menu_items_path,:html=>{:class=>"right_aligned_form"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
    <div class="form-actions">
    	<%=f.submit "Create Menu Item", :class=>"btn btn-primary"%> or <%=link_to "cancel",spud_admin_menu_menu_items_path,:class => "btn"%>
    </div>
  <%end%>

 

