<%=form_for @page,:url => spud_admin_pages_path(),:html=>{:class=>"form-horizontal"} do |f|%>
	<%=render :partial => "form",:locals => {:f => f}%>
	<div class="form-actions">
    	<%=f.submit "Create Page", :class=>"btn btn-primary"%> or <%=link_to "cancel",spud_admin_pages_path,:class => "btn"%>
    </div>

<%end%>
<br />

  
