<fieldset>
  <%= f.label :name, :required=>true,:style =>"display:none;" %>
  <%= f.text_field :name, :class => "full-width",:placeholder=>"Enter title here" %>
</fieldset>
<br/>
<div>
  <%= f.text_area :content,:style => "width:100%;", :class => 'tinymce full-width' %>
</div>
