<%=form_for @snippet,:url => spud_core.admin_snippets_path,:html=>{:class=>"form-horizontal"} do |f|%>
  <%=render :partial => "form",:locals => {:f => f}%>
  <div class="form-actions">
    <%=f.submit "Create Snippet", :class=>"btn btn-primary"%> or <%=link_to "cancel",spud_core.admin_snippets_path,:class => "btn"%>
  </div>

<%end%>
